html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
body{font:13px/1.5 Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif}a:focus{outline:1px dotted invert}hr{border-color:#ccc;border-style:solid;border-width:1px 0 0;clear:both;height:0}h1{font-size:25px}h2{font-size:23px}h3{font-size:21px}h4{font-size:19px}h5{font-size:17px}h6{font-size:15px}ol{list-style:decimal}ul{list-style:disc}li{margin-left:30px}p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:20px}
body { background: #000; color: #fff; }
img { border: 0; }
a, img { margin: 0; padding: 0; color: #fff; text-decoration: none; }
#bigpicture { text-align: center; padding: 10px; background: #000; float: left; width: 240px; }
#bigpicture #thelink { margin-top: 10px; }
#pictureshow { margin: 10px; margin-left: 260px; float: left; width: auto; }
#pictureshow a.selected img { border: 2px solid #f0f0f0;}
.userlist { margin: 10px; float: left; width: 52px; }
.userlist .selected .avatar { border-color: #ccf;}
.userlist .loading .avatar { border-color: #333;}
.userlist .loaded .avatar { border-color: #353;}
.userlist .failure .avatar { border-color: #533;}
.userlist .indicator { background: url(/images/loading.gif) no-repeat top left; width: 48px; height: 48px; position: absolute; z-index: 10; margin: 3px;}
.favorites { display: block; float: left; margin: 10px; width: 640px;}
.favorites a {margin-left: 5px;}
#thetitle { display: block; }
.avatar, .thumb { width: 75px; height: 75px; background: url(/images/thumb.jpg) no-repeat center center; border: 3px solid #000;}
.avatar { width: 48px; height: 48px;}
.avatar:hover, .thumb:hover { border-color: #ffc;}
#history {height: 75px; clear: both; border: 1px dashed #ccc; padding: 10px; font-size: 10px; width: 960px; }
#history .item {width: 75px; height: 75px; float: left; text-align: center; margin-right: 5px;}
#history .item img { display: block; margin: 0 auto;}