<% if @user %>
<div class="user favorites" id="favorites">
<%= render :partial => 'user_favorites', :locals => {:photos => @user.favorites} %>
</div>
<% else %>
<div class="user favorites" id="favorites">
<%= render :partial => 'user_favorites', :locals => {:photos => @photos} %>
</div>
<% end %>
<%# @explored.inspect %>
